* {
  margin: 0px;
  padding: 0px;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #f89a20;
}

/*폰트*/
@font-face {
  font-family: "Mungyeong-Gamhong-Apple";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/2410-2@1.0/Mungyeong-Gamhong-Apple.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Cafe24Ohsquare";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/Cafe24Ohsquare.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'omyu_pretty';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-01@1.0/omyu_pretty.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GmarketSansMedium';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'GmarketSansMedium';
  overflow-x: hidden;
}

/*본문내용*/
#wrap>div {
  width: 100%;
  height: 100vh;
}

/*배경*/
#wrap #visual {
  background-color: #f9e697;
}

#wrap #con1 {
  background-color: #a0d0f0;
}

#wrap #con2 {
  background-color: #f9e697;
}

#wrap #con3 {
  background-color: #a0d0f0;
}

#wrap #con4 {
  background-color: #f9e697;
}

/*header*/
#header {
  width: 100%;
  height: 80px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  background-color: rgba(255, 255, 255, 0.5);
  font-size: 1.8rem;
  display: flex;
  justify-content: space-between;
  text-align: center;
  position: fixed;
  z-index: 20;
  font-family: "Cafe24Ohsquare";
}

#header.in {
  background-color: rgba(255, 255, 255, 0.8);
}

#header img {
  width: 100px;
  height: 80px;
  padding-top: 10px;
}

#header li {
  width: calc(100% / 5);
  height: 80px;
  line-height: 80px;
  font-weight: bold;
}

#header .char {
  position: relative;
  display: inline-block;
  color: transparent;
  overflow: hidden;
}

#header .char:before,
#header .char:after {
  position: absolute;
  left: 0;
  top: 0;
  content: attr(data-char);
  color: #f89a20;
  transition: 0.3s;
  transition-delay: calc(60ms * var(--char-index));
}

#header .char:before {
  transform: translateY(100%);
  color: #a44e26;
  /* text-decoration: underline;
  text-underline-offset: 1rem;
  text-decoration-color: #2e9026; */
}

#header li a:hover .char:before {
  transform: translateY(0%);
}

#header li a:hover .char:after {
  transform: translateY(-100%);
}


/*first_wrap*/
.first_wrap {
  width: 100%;
  height: 100%;
  position: relative;
}

.first_wrap .bg {
  width: 100%;
  height: 100%;
  background-color: #a0d0f0;
  position: absolute;

  transition: 2.2s ease-in-out;
}

.first_wrap .bg.on {
  opacity: 0;
}

.first_wrap .bg_wrap {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;

}


.first_wrap .bg_left {
  width: 50%;
  height: 100%;
  background-color: #f9e697;
  transform: translateX(0);
  transition: 1.5s;
}


.first_wrap .bg_left.on {
  transform: translateX(-100%);
}

.first_wrap .bg_right {
  width: 50%;
  height: 100%;
  background-color: #f9e697;
  transform: translateX(0);
  transition: 1.5s;
}

.first_wrap .bg_right.on {
  transform: translateX(100%);
}

.first_wrap .bg h2 {
  position: absolute;
  z-index: 9;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 250px;
  text-align: center;
  color: #f89a20;
  font-family: "Mungyeong-Gamhong-Apple";
}

/*note_imge*/
.first_wrap .bg .note_imge {
  position: absolute;
  z-index: 8;
  width: 100%;
  height: 100%;
}

.first_wrap .bg .note_imge img {
  width: 60px;
  height: 60px;
}

.first_wrap .bg .note {
  position: absolute;
  left: 35%;
  top: 21%;
  transform: translateY(0);
  transition: 1.5s ease-in-out;
}

.first_wrap .bg .note.on {
  transform: translateY(-80px);
  opacity: 0;
}

.first_wrap .bg .note01 {
  position: absolute;
  left: 25%;
  bottom: 34%;
  transform: translateY(0);
  transition: 1.8s ease-in-out;
}

.first_wrap .bg .note01.on {
  transform: translateY(-80px);
  opacity: 0;
}

.first_wrap .bg .note02 {
  position: absolute;
  right: 38%;
  bottom: 34%;
  transform: translateY(0);
  transition: 1.8s ease-in-out;
}

.first_wrap .bg .note02.on {
  transform: translateY(-80px);
  opacity: 0;
}

.first_wrap .bg .note03 {
  position: absolute;
  right: 12%;
  top: 23%;
  transform: translateY(0);
  transition: 1.8s ease-in-out;
}

.first_wrap .bg .note03.on {
  transform: translateY(-90px);
  opacity: 0;
}


.first_wrap .lp_imge {
  position: absolute;
  z-index: 10;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

}

.lp_imge img {
  width: 100%;
  height: 50%;
  animation: spin linear 1.5s forwards;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  40% {
    transform: rotateY(360deg);

  }

  100% {
    transform: translateX(-100%);

  }
}

/*visual*/

/*visual_wrap*/
.visual_wrap {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  position: absolute;
  left: 0;
  top: 0;

}

.visual_wrap.on {
  transform: translateY(-50px);
  opacity: 1;
}

.visual_wrap {
  opacity: 0;
  transition: 2.5s ease-in-out;
}

/*left*/

.vi_left {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 5rem;
  box-sizing: border-box;
}

.vi_left img {
  width: 100%;
  height: 70%;
}

/*right*/
.vi_right {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 6rem;
  box-sizing: border-box;
}

.vi_right h3 {
  color: #a44e26;
  font-size: 2rem;
  margin: 1rem 0rem;
  text-align: center;
  font-family: 'omyu_pretty';
}

/*keyWord*/
.vi_right .keyWord {
  width: 80%;
  height: 45%;
  border: 1px solid #fef3e2;
}

.vi_right .keyWord>div {
  width: 100%;
  height: 80%;
}

.vi_right .keyWord img {
  width: 100%;
  height: 100%;
}

/*like*/
.vi_right .like {
  width: 80%;
  height: 30%;
  margin-top: 4rem;
  border: 1px solid #fef3e2;
  font-family: 'omyu_pretty';
}

.like_wrap {
  display: flex;
  justify-content: center;
  gap: 8rem;
}

.like_wrap img {
  width: 100px;
  height: 100px;
}

.like_wrap p {
  text-align: center;
  margin-top: 2rem;
  font-size: 1.2rem;
}

/*con1*/
#con1 {
  width: 100%;
  height: 100%;

}

#con1 h2 {
  font-size: 4rem;
  color: #f89a20;
  width: 80%;
  margin: 0px auto;
  padding: 3rem 0rem;
  font-family: 'omyu_pretty';
}

/*con1_wrap*/
.con1_wrap {
  margin: 0px auto;
  width: 80%;
  height: 80%;
  color: #a44e26;
  display: flex;
  justify-content: center;
  gap: 3rem;
  position: relative;
}

/*con1_left*/
.con1_left {
  padding: 2rem;
  box-sizing: border-box;
  width: 50%;
  height: 90%;
  background-color: #fef3e2;
  border-radius: 30px;
  font-size: 1.5rem;
  line-height: 1.8;
  letter-spacing: 1px;
  transform: translateX(-1000px);
  opacity: 0;
  transition: 3s;
}

.con1_left.on {
  transform: translateX(0);
  opacity: 1;
}


/*con1_right*/
.con1_right {
  width: 50%;
  height: 85%;
  text-align: center;
  transform: translateX(1000px);
  opacity: 0;
  transition: 3s;
}

.con1_right.on {
  transform: translateX(0);
  opacity: 1;
}

.con1_right h3 {
  padding: 1.2rem 0rem;
  font-size: 2.2rem;
  font-family: 'omyu_pretty';
  text-transform: uppercase;
}

/*skill*/
.skill {
  width: 100%;
  height: 50%;
  background-color: #fef3e2;
  border-radius: 30px;
  margin-bottom: 2em;
}

.skill .con1_img {
  display: flex;
  justify-content: center;
  gap: 1rem 5rem;
  flex-wrap: wrap;
}

.skill .con1_img>li {
  width: 100px;
  height: 100px;
  transition: 0.5s ease-in-out;
}

.skill .con1_img>li>img {
  width: 100%;
  height: 100%;
}


.skill .con1_img img:hover {
  border: 3px solid #f89a20;
  transform: scale(1.2);
}

/*character*/
.character {
  width: 100%;
  height: 50%;
  background-color: #fef3e2;
  border-radius: 30px;
}

.character>div {
  width: 300px;
  height: 250px;
  margin: 0px auto;
}

.character>div>img {
  width: 100%;
  height: 100%;
  transition: 0.5s ease-in-out;
}


/*con1_lp*/

.con1_lp {
  width: 200px;
  height: 200px;
  position: absolute;
  left: 40%;
  top: -10%;
  animation: move 1s infinite linear;
  opacity: 0;
}

.con1_lp.in {
  opacity: 1;
  transition: 5s;
}

@keyframes move {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/*con2*/
#con2 {
  width: 100%;
  height: 100%;
}

#con2 .swiper {
  width: 100%;
  height: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
  position: relative;
  box-sizing: border-box;
}

#con2 h2 {
  font-size: 4rem;
  color: #f89a20;
  width: 80%;
  margin: 0px auto;
  padding: 2rem 0rem;
  box-sizing: border-box;
}

#con2 .swiper-wrapper {
  display: flex;
  width: 100%;
  transform: translateY(-80px);
  opacity: 0;
  transition: 1.5s ease-in-out;
}

#con2 .swiper-wrapper.on {
  transform: translateY(0);
  opacity: 1;
}

#con2 .swiper-wrapper .swiper-slide {
  /* background-position: center;
  background-size: cover; */
  width: 500px;
  height: 530px;
  flex-shrink: 0;
}

.swiper-slide p {
  font-size: 1.1rem;
  color: #a44e26;
}

.swiper-slide p i {
  border: 1px solid #a44e26;
  font-size: 1.1rem;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  line-height: 20px;
  text-align: center;
}

.swiper-slide>div {
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.swiper-slide div>p {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  color: #fff;
}

.swiper-slide img {
  display: block;
  width: 500px;
  height: 500px;
  /* object-fit: cover; */
}

/*pagination*/
.swiper-pagination {
  left: 0% !important;
  bottom: 50px !important;
  position: fixed;
}

.swiper-pagination-bullet {
  width: 20px;
  height: 20px;
}

.swiper-pagination-bullet-active {
  background-color: #f89a20;
}

/*hover*/
#con2 .swiper-wrapper .swiper-slide:hover img {
  filter: brightness(50%);
}

#con2 .swiper-wrapper .swiper-slide:hover div p {
  opacity: 1;
}

/*모달창*/
#modalBox {
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  z-index: 10;
  left: 0;
  top: 0;
  display: none;
}

#modalBox.on {
  display: flex;
}

/*modalContent*/
#modalContent {
  width: 100%;
  height: 100%;
}

#modal_wrap {
  width: 100%;
  height: 100%;
}

#xmark {
  position: absolute;
  right: 30%;
  top: 10%;
  font-size: 3rem;
  cursor: pointer;
  color: #fff;
  z-index: 10;
}

#modalContent #imge {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

#imge img {
  padding-top: 80px;
  box-sizing: border-box;
  display: none;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

#imge img.active {
  display: block;
}

/*con3*/

#con3 {
  width: 100%;
  height: 100%;
}

#con3 h2 {
  font-size: 4rem;
  color: #f89a20;
  width: 80%;
  margin: 0px auto;
  padding: 2rem 0rem 1rem;

}

/*con3_wrap*/
.con3_wrap {
  width: 100%;
  height: 100%;
  position: relative;
  opacity: 0;
  transition: 1s;

}

.con3_wrap.on {
  transform: translateY(-50px);
  opacity: 1;
}

/*ul*/
.con3_wrap ul {
  width: 100%;
  height: 100%;
  text-align: center;
}

.con3_wrap ul>li {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0%;
  left: 0%;
  display: none;
}

.con3_wrap ul>li:first-child {
  display: block;
}

.con3_wrap ul>li>img {
  width: 80%;
  height: 70%;
}

.con3_wrap ul>li>p {
  color: #fff;
  font-size: 1.8rem;
  letter-spacing: 1px;
  margin-bottom: 2rem;
}

.con3_wrap ul>li>p>i {
  border: 1px solid #fff;
  font-size: 2rem;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  line-height: 35px;
  text-align: center;
}

.btn {
  width: 90%;
  display: flex;
  justify-content: right;
  gap: 2rem;
  margin-top: 2rem;
  color: #f89a20;
  font-size: 1.2rem;
}

.btn>div {
  background-color: #fef3e2;
  width: 200px;
  height: 50px;
  line-height: 50px;
  border-radius: 20px;
}

/*arr*/

.con3_wrap .stop {
  color: #fff;
  font-size: 3rem;
  position: absolute;
  bottom: 12%;
  left: 33%;
  cursor: pointer;

}

.con3_wrap .play {
  color: #fff;
  font-size: 4rem;
  position: absolute;
  bottom: 10%;
  left: 33%;
  cursor: pointer;
  display: none;
}

.con3_wrap .left,
.con3_wrap .right {
  position: absolute;
  bottom: 12%;
  color: #fff;
  font-size: 3rem;
  cursor: pointer;
}

.con3_wrap .left {
  left: 20%;
}

.con3_wrap .right {
  left: 45%;
}


/*con4*/
#con4 {
  width: 100%;
  height: 100%;
}

#con4 h2 {
  font-size: 4rem;
  color: #f89a20;
  width: 80%;
  margin: 0px auto;
  padding: 2rem 0rem 2rem;
}

/*con4_wrap*/
.con4_wrap {
  width: 100%;
  height: 100%;
}

/*text*/
.con4_wrap .text {
  width: 80%;
  margin: 0px auto;
  font-size: 1.5rem;
  color: #a44e26;
}

.con4_wrap .text i {
  border: 1px solid #a44e26;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
}

/*ul*/
.con4_wrap ul {
  width: 80%;
  margin: 0px auto;
  display: flex;
  justify-content: space-between;

}

.con4_wrap li {
  width: 100%;
  font-size: 1.5rem;
  text-align: center;
  line-height: 40px;
  margin-top: 3rem;
}

.con4_wrap li:first-child {
  background-color: #fef3e2;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.con4_wrap li:last-child {
  width: 100%;
  height: 100%;
}

.con4_wrap li h3 {
  color: #a44e26;
  padding-top: 2rem;
}

.con4_wrap li p {
  margin: 2rem 0rem;
}

.con4_wrap img {
  width: 90%;
  height: 90%;
}

/*arr*/
.arr_up {
  font-size: 2rem;
  border: 2px solid #f89a20;
  width: 40px;
  height: 40px;
  line-height: 50px;
  text-align: center;
  border-radius: 50%;
  position: fixed;
  right: 20px;
  bottom: 20px;
}